header{
	width: 100%;
	background:white;
	position: absolute;
	top: -1;
	left: -1;
	right: 1;
	height: 100px;
	border-bottom: 1px solid #808080;
	
}
body{

	font-family: 'Georgia','Times', 'Times New Roman', 'serif'; 
	width: 900px;
	margin-top: 150px;
	background-color: white;
	color: grey;
	line-height:25px;

}